*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	color: #fff;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.header{
	background-color: rgba(0, 0, 0,0.8);
}
.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}
strong{
	color: red;
}
form .btn{
	display: inline-block;
	background-color: rgba(0, 0, 0,0.5);
	color: #fff;
	padding: 0 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
form .btn:hover{
	background: #563434;
}
.admin-page{
	padding: 50px 0;
}
.form-container{
	width: 650px;
	height: 450px;
	text-align: center;
	padding: 25px 0;
	margin: auto;
	overflow: hidden;
	border: 1px;
	border-radius: 2rem;
	background-image: url('../images/adminbg1.jpg');
	background-size: cover;
}
.form-container h2{
	color: #fff;
}
.form-container form{
	margin-top: 40px;
	padding: 0 30px;
	top:120px;
}
form input{
	width: 100%;
	height: 35px;
	margin: 10px 0;
	padding: 0 10px;
	color: black;
	border: 1px;
	border-radius: 1rem;
}
form input:focus{
	outline: none;
}
form .btn{
	width: 100%;
	border: 1px;
	cursor: pointer;
	margin: 10px 0;
	color: black;
	background-color: #00aaff;
	font-weight: bold;
	margin-top: 40px;
}
form .btn:focus{
	outline: none;
}
h1, h2{
	text-align: center;
}
table th {
	border: 2px solid #fff;
  padding: 10px;
  width: 1000px;
  color: black;
  background-color: #4d94ff;
  text-align: center;
}
table tr {
	border: 1px solid white;
  padding: 10px;
  width: 1000px;
  background-color: rgba(0, 0, 0,0.5);
  text-align: center;
}
table,  td{
  padding: 10px;
  width: 1000px;
  background-color: rgba(0, 0, 0,0.5);
  text-align: center;
}


#Indicator{
	border: none;
	background: red;
	height: 3px;
	margin-top: 8px;
}

.details{
	margin-top: 20px;
}
.details b{
	padding: 15px;
	color: red;
}
.detailscontainer{
	width: 450px;
	height: 570px;
	text-align: center;
	overflow: hidden;
	border: 1px solid red;
	border-radius: 20px;
	background-color: rgba(0, 0, 0,0.8);
}
.details h4, h2{
	font-size: 20px;
	text-align: center;
}
.details img{
	width: 200px;
	padding: 1px;
}