*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#register_form h1 {
    text-align: center;
    padding-top: 15px;
}
body {
	background-image: url('../images/gogreen.jpg');
	background-size: cover;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #5bb343;
	position: fixed;
	top: 0;right:0; left:0;
	border-radius: 0px 0px 50px 50px;
}
.logo a img {
    width: 90px; 
    height: 90px;
    border-radius: 5rem;
       border: 2px solid white;
}
.cafe_name p{
    margin-left: 10px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
#register_form {
    width: 30%;
    margin: 100px auto;
    margin-top: 180px;
    padding: 40px;
    padding-bottom: 50px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background: white;
}
#register_form input {
    width: 80%;
    margin: 5px 10%;
    font-size: 1.1em;
    padding: 10px;
    font-size: .9em;
}
.form_error span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 0.9em;
    color: #D83D5A;
}
.form_error input {
    border: 1px solid #D83D5A;
}
#reg_btn {
    margin-top: 20px;
    width: 80%;
    padding: 15px 10px;
    margin: 5px 10%;
    color: white;
    background: #5bb343;
    border: none;
    border-radius: 5px;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
    position: relative;
}
a{
	text-decoration: none;
	color: black;
}
p{
	color: rgb(233, 232, 232);
}

@media only screen and (max-width: 600px){
    #register_form {
        width: 70%;
        margin-top: 150px;
    }
    .navbar{
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #b33c00;
        position: fixed;
        top: 0;right:0; left:0;
        border-radius: 0px 0px 50px 50px;
    }
    .logo a img {
        width: 50px; 
        height: 50px;
    }
    .cafe_name p{
        margin-left: 10px;
        font-size: 18px;
    }
}
